# Configuration files
config.php
*.config.php
.env
*config.py

# Dependency directories
/vendor/
/node_modules/

# Cache and logs
/scripts/logs/*
/scripts/temp/*
/logs/*
*.log
*.cache
*.pid

# IDE specific files
.idea/
.vscode/
*.sublime-workspace
.DS_Store

# Temporary files
*.swp
*.swo
*update_repo.sh


